@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
/* header section */

.desktop-nav {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  padding: 0 4.5rem;
  text-align: center;
}
.brand-logo img {
  cursor: pointer;
}
.search-bar {
  position: relative;
}
.search-bar .fa-solid {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  position: relative;
  left: 2.5rem;
  color: #7a7a7a;
}
.search-bar input {
  width: 22.5rem;
  height: 2.6rem;
  flex-shrink: 0;
  border-radius: 21px;
  background: #f2f2f2;
  border: none;
  outline: none;
  padding-left: 3rem;
}
.search-bar input::placeholder {
  color: #5c5c5c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.create-ac {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
  color: #2e2e2e;
}
.create-ac p a {
  color: #2f6ce5;
  text-decoration: none;
}
.create-ac p a {
  margin-right: 10px;
}
/* for mobile  */
.mobile-nav {
  display: none;
}
.mobile-nav i {
  color: #868e96;
  margin-right: 10px;
}

/* Hero Section */

.main-section {
  width: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-section img {
  width: 100%;
  filter: brightness(0.6);
  object-fit: cover;
  background-size: contain;
  height: 100%;
}
.mobile-main-img {
  display: none;
}
.main-mb-head {
  display: none;
}

.main-section .hero-content {
  position: absolute;
  color: #fff;
  bottom: 18%;
  left: 15%;
}
.hero-content h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-content p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* blog section */

.blog-section {
  padding: 0 12%;
  margin-top: 2rem;
}
.blogs-buttons {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.12);
}
.blogs-buttons ul li a {
  color: #8a8a8a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blogs-buttons ul li a.active {
  color: #000;
}
.join-btn a button {
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.writePost button i {
  margin-left: 5px;
}
.joinGroup button {
  background-color: #2f6ce5;
  color: #fff;
}
/* blogs buttons for phone  */
.mb-blog-btn {
  display: none;
  /* box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.12); */
}
/* blogs */
.blogs_groups {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  gap: 1.5rem;
}
.blogs_groups .blogs {
  width: calc(100% - 30%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blogs_groups .blogs .blog {
  max-width: 43.5rem;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #fff;
}
.blogs .blog .blog-img {
  width: 100%;
}
.blogs .blog .blog-content {
  padding: 20px;
  position: relative;
}
.blog-content .cate {
  margin-bottom: 1rem;
}
.blog-heading {
  display: flex;
  gap: 10px;
  position: relative;
  justify-content: space-between;
}
.blog-content h2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}
.blog-heading button {
  border: none;
  background-color: #fff;
  font-size: 22px;
  flex-shrink: 0;
  position: relative;
  bottom: 10px;
}

.blog-content .cate ~ p {
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
.blog-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  flex-shrink: 0;
}
.blog-id div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.blog-id img {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.blog-id h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* margin-left: 8px; */
}
.blog-id p {
  color: #525252;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: 5px;
}
.mb-viewer-show {
  display: none;
  color: #495057;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blog-id p i {
  font-size: 15px;
  flex-shrink: 0;
  font-weight: 400;
}
.blog-id button {
  flex-shrink: 0;
  border-radius: 2px;
  background: #edeef0;
  border: none;
  padding: 5px 10px;
}
.schedule {
  margin: 10px 0;
}
.schedule p {
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.schedule span i {
  margin-right: 10px;
}
.schedule p .address {
  margin-left: 3rem;
}

.visit-web button {
  flex-shrink: 0;
  width: 100%;
  height: 38px;
  border-radius: 8px;
  border: 0.7px solid #a9aeb8;
  background: #fff;
  color: #e56135;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.apply-job button {
  color: #02b875;
  flex-shrink: 0;
  width: 100%;
  height: 38px;
  border-radius: 8px;
  border: 0.7px solid #a9aeb8;
  background: #fff;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

/* option menu */
.menu-container {
  display: none;
  position: absolute;
  width: 10rem;
  top: 3rem;
  right: -5rem;
  transform: translateX(-50%);
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  z-index: 1;
}

.menu {
  list-style: none;
  border: none;
  padding: 20px;
  margin: 0;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08),
    0px 2px 8px 0px rgba(0, 0, 0, 0.16);
}
.menu li {
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}

/* -----aside Bar------- */
.blogs_groups .asideBar {
  width: calc(100% - 70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.location_input {
  display: flex;
  margin-top: 1rem;
  position: relative;
}
.location_input .fa-location-dot {
  position: absolute;
  top: 12px;
  color: #525252;
  flex-shrink: 0;
  left: 10px;
}
.location_input .fa-pencil {
  position: absolute;
  top: 12px;
  color: #525252;
  flex-shrink: 0;
  right: 10px;
}
.location_input input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 15rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 6px;
  outline: none;
  padding-left: 2rem;
}
.location_input input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.worning {
  display: flex;
  align-items: center;
  width: 15rem;
}
.asideBar .worning p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.recommend_group {
  /* display: none; */
  min-width: 70%;
  transition: opacity 0.3s ease;
}
.recommend_group h4 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.recommend_group h4 .fa-solid {
  color: #525252;
  font-size: 18px;
}
.groups-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-top: 1rem; */
}
.groups-details .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.groups-details .group div {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-shrink: 0;
}
.groups-details .group h5 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.group button {
  /* width: 60px;
  height: 24px; */
  flex-shrink: 0;
  border: none;
  border-radius: 14px;
  background: #edeef0;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 10px;
}

.seemore {
  text-align: right;
  color: #2f6ce5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* --------------------------- */
/* RESPONSIVE SECTION */

@media (max-width: 1024px) {
  .join-btn a button {
    font-size: 14px;
  }
  .blogs-buttons ul li a {
    font-size: 15px;
  }
  .blog-content h2 {
    font-size: 21px;
  }
  .blog-heading button {
    font-size: 21px;
  }
  .blog-content .cate ~ p {
    font-size: 18px;
    line-height: 1.8rem;
  }
  .blog-id img {
    width: 44px;
    height: 44px;
  }
  .blog-id h3 {
    font-size: 17px;
  }
  .blog-id p {
    font-size: 13px;
  }
  .blog-id button {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  /* nav */
  .desktop-nav {
    padding: 0 3rem;
  }
  .brand-logo img {
    width: 9rem;
  }
  .search-bar input {
    width: 20rem;
    height: 2.4rem;
    border-radius: 17px;
  }
  .search-bar input::placeholder {
    font-size: 13px;
    font-weight: 500;
  }
  .create-ac {
    font-size: 14px;
  }
  /* main */
  .main-section .hero-content {
    position: absolute;
    left: 10%;
    bottom: 14%;
  }
  .hero-content h1 {
    font-size: 34px;
  }
  .hero-content p {
    font-size: 16px;
  }
  /* blog section */
  .blog-section {
    padding: 0 8%;
  }
  .blogs-buttons ul li a {
    font-size: 13px;
  }
  .join-btn a button {
    padding: 6px 8px;
    margin-right: 5px;
    font-size: 12;
  }

  .blogs_groups .blogs .blog {
    width: 99%;
  }

  .blog-content h2 {
    font-size: 18px;
    line-height: 1.8rem;
    font-weight: 600;
  }
  .blog-content button {
    font-size: 18px;
  }

  .blog-content .cate {
    margin-bottom: 0.5rem;
  }
  .blog-content .cate ~ p {
    font-size: 16px;
    line-height: 1.5rem;
  }
  .blog-id img {
    width: 36px;
    height: 36px;
  }
  .blog-id h3 {
    font-size: 15px;
  }
  .blog-id p {
    font-size: 12px;
  }
  .blog-id button {
    font-size: 12px;
  }
  .schedule p {
    font-size: 14px;
  }
  .visit-web button,
  .apply-job button {
    font-size: 12px;
    height: 30px;
  }

  /* sidebar */
  .location_input input {
    width: 100%;
  }
  .location_input input::placeholder {
    font-size: 12px;
  }
  .location_input .fa-location-dot,
  .location_input .fa-pencil {
    font-size: 12px;
    top: 15px;
  }
  .worning {
    width: 100%;
  }
  .recommend_group {
    min-width: 100%;
  }
  .recommend_group h4 {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .recommend_group h4 .fa-solid {
    font-size: 16px;
  }
  .groups-details .group h5 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 24px;
    flex-shrink: 0;
    padding: 1em 0;
  }

  .main-section img {
    display: none;
  }
  .main-section img.mobile-main-img {
    display: block;
  }
  .main-mb-head {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 100%;
    z-index: 9;
    top: 1.2rem;
    padding: 0 1em;
  }
  .main-mb-head .fa-arrow-left {
    color: #ffffff;
    font-size: 20px;
  }
  .main-mb-head .mb-joinBtn {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: transparent;
    border: 1px solid #fff;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 8px 14px;
  }
  .main-section .hero-content {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
  }

  .blog-section {
    padding: 0 5%;
  }
  .blogs-buttons {
    display: none;
  }
  .mb-blog-btn {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    align-items: center;
    padding: 0 1rem;
  }
  .mb-blog-btn h4 {
    color: #212529;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.14px;
  }
  .mb-blog-btn select {
    border: none;
    background-color: #f1f3f5;
    padding: 5px 10px;
    border-radius: 5px;
    flex-shrink: 0;
    outline: none;
    color: #212529;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .mb-blog-btn option {
    border: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #7a7a7a;
  }
  .blogs_groups {
    margin-top: 1rem;
  }
  .blogs_groups .blogs {
    width: 100%;
  }
  .blogs_groups .asideBar {
    display: none;
    width: 0%;
  }
}

@media (max-width: 580px) {
  .blog-section {
    padding: 0 3%;
  }
}

@media (max-width: 450px) {
  .blog-section {
    padding: 0 1%;
  }
  .hero-content h1 {
    font-size: 18px;
  }
  .hero-content p {
    font-size: 13px;
  }
  .blog-content h2 {
    font-size: 16px;
  }
  .blog-content .cate ~ p {
    font-size: 14px;
  }
  .blog-id img {
    width: 37px;
    height: 37px;
  }
  .blog-id h3 {
    font-size: 14px;
    margin: 0;
  }
  .blog-id p {
    font-size: 12px;
  }
  .desktop-viewer-show{
    display: none;
  }
  .mb-viewer-show{
    display: block;
  }
  
}
